@using Microsoft.AspNet.Identity
    @model IEnumerable<TrashPickUp.Models.Customer>
    
    @{
        
            ViewBag.Title = "Index";
    }

        <h2>Viewing Customers</h2>
<li>
    @User.Identity.GetUserName()
    </li>
        @*@foreach (var item in Model)
        {
            if (item.UserName != null)
            {
                <table>
                    <tr>@item.UserName</tr>
                </table>
            }
        }*@
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <table>
        <tr><td><input type="hidden" name="on0" value="Low Monthly Rates">Low Monthly Rates</td></tr>
        <tr>
            <td>
                <select name="os0">
                    <option value="Option 1">Option 1 : $10.00 USD - weekly</option>
                    <option value="Option 2">Option 2 : $30.00 USD - monthly</option>
                    <option value="Option 3">Option 3 : $250.00 USD - yearly</option>
                </select>
            </td>
        </tr>
    </table>
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIIYQYJKoZIhvcNAQcEoIIIUjCCCE4CAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAmHn7WTZl3V+vfrrH/Cb1Zfv4tVlm3FrIkONCOjFJ3Xa5lnqKxbaanRe4LgNBuJX1ZLwiIuRyc1zU8jlHf83j0bTpWGbbmfqnmqAz6yD94/8/cbHTUmUiVbFLIonjsw0cmRPr/PJao1WRdSzSJGm7WGbFH1LMZ/JGuncCKjxWlWzELMAkGBSsOAwIaBQAwggHdBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECEWxQHv0aL7pgIIBuIXBBIHAMTsae8pvgdBxHGRos259nY9r7RQ7GS7kqTnCnJ8wCqsBpELgzN1W9Jphy/UuIZZagErDTUeYq2EPhaxAosmdogU5PFAcWDzXCyZrpap3z+kD2tUMRIcDFHOuVGOukCQYQCkYfBEsfXMwiCdGQYFlLETasFS5hIPdN46gVh4YN+gRTnAbkzEw18ckfcL9fWURCv2/V9N7ktnwUENOQwNLdoKgaAuyoWMlF+wIBBn/hyS6HT6P52Wczmnsn5bta4wrQ8lEikm0NTX64NSo7cTwwhbgnjpMvcKrKrKSGWGjNepovzjO9RW343q5XnrAA1XCa0kf1ZsHLsHZPXbUq61a2ub9UQIKBMF3uZ0cW5IIUkYa873VG1u5v2Noz7yElClf2R6/oqgldAl3EzRgDR+93u+ONvGWWgs72w4rNDMn9Og+sVbXl8c05Cy0gQ/ay2HO+whhQoP4DzARrDnPXzSHPVtHlraVnct3GXqkj2ei4x8JIq7Z+Fnek1aHuhYy6XQmgwhnr8qRos4NC8HdnYsENpw4dLocEz3md1lsqSF5JmKtmkWfzmry4xkz1KXc7chGPaAOoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTcwMTE5MTc1NTI1WjAjBgkqhkiG9w0BCQQxFgQUoRjNy2i9n9mJz4bdZz4v/+qgGOMwDQYJKoZIhvcNAQEBBQAEgYBx0dpbV69Hw9nyChV0blD4tww3NTFtxJ6dF1m4rUG+1s174TioIWNTxu2tvvXFmjZLWaMxtCSU/2kToQXpLrIfjIB3G0xREBOhIBa14XRtYpdPFmEQMgKx9IR1merjc4NSx/2nLP/5q3MTqnasfInXMEwN847fKhgkIzZg1Gkhtg==-----END PKCS7-----
">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


