
    @model TrashPickUp.Models.Customer   
@{
    ViewBag.Title = "Index";
}

<h2>Viewing Customers</h2>
@foreach (var b in Model)
{
    if (b.Login != null)
    {
        <table>
            <tr>@b.Login</tr>
        </table>
    }
}

       