@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    333 N Plankinton Ave<br />
    Milwaukee, WI 53203<br />
    <abbr title="Phone">P:</abbr>
    414-801-6828
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jason@jasonrhart.com">jason@jasonrhart.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:jason@jasonrhart.com">jason@jasonrhart.com</a>
</address>