@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
<<<<<<< HEAD
    <h1>Trash Pick-Up</h1>
    <p class="lead">Changing the way of how garbage is being picked up.</p>
</div>

<div class="row">
    <div class="col-md-7">
        <h2>Register</h2>
        <p>
            Have the power of when your trash gets picked up. 
            Simply sign up and get started.
            Low monthly rates.
        </p>
        <p><a class="btn btn-default" href="/Account/Register">Get Started &raquo;</a></p>
    </div>
    <div class="col-md-5">
        <h2>Trash Pick-Up</h2>
        <p>
            Flexible with times and dates. The way YOU want.
        </p>
        <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
    </div>
</div>
=======
    <h1>Trash Pick Up</h1>
    <p class="lead">Trash Pick Up manages all your trash collection needs.</p>
</div>

>>>>>>> bd628b0fbad7b9f48850725ba0ed8584e2f7bdb7
